.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-card {
    max-width: 260px;
}

mat-card {
    margin: 5px !important;
}

.mat-menu-custome {
    position: absolute;
    top: 10px;
    right: 0px;
}